nav {
  position: fixed;
  width: 1280px;
  height: 93px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  border-bottom: solid 2px black;
  .logo {
    width: 136px;
    height: 42px;
    color: black;
    background-image: url(../images/logo-black.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .links {
    height: 42px;
    width: 430px;
    a {
      text-decoration: none;
      color: black;
      font-family: GillSans;
      font-size: 15px;
      padding: 10px;
      span {
        margin-left: 10px;
      }
    }
  }
}
.filler {
  position: relative;
  width: 1280px;
  height: 93px;
  margin: 0 auto;
  visibility: hidden;
}
@font-face {
  font-family: ProximaNovaextarcondensed;
  src: url(.././css/fonts/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.tour-picture {
  width: 981px;
  height: 200px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/tours-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px auto;
  text-align: center;
  .tours-title {
    font-family: ProximaNovaextarcondensed;
    font-size: 80px;
    color: white;
  }
}
