.israel-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Israel_1 {
  background-image: url(../images/tour-israel/israel-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Israel_2 {
  background-image: url(../images/tour-israel/israel-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Israel_3 {
  background-image: url(../images/tour-israel/israel-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.usa-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.usa_1 {
  background-image: url(../images/tour-usa/usa-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.usa_2 {
  background-image: url(../images/tour-usa/usa-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.usa_3 {
  background-image: url(../images/tour-usa/usa-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Australia-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Australia_1 {
  background-image: url(../images/tour-aus/aus-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Australia_2 {
  background-image: url(../images/tour-aus/aus-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Australia_3 {
  background-image: url(../images/tour-aus/aus-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.newZealand-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-04.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.newZealand_1 {
  background-image: url(../images/tour-nz/nz-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.newZealand_2 {
  background-image: url(../images/tour-nz/nz-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.newZealand_3 {
  background-image: url(../images/tour-nz/nz-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.france-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-05.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.france_1 {
  background-image: url(../images/tour-france/france-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.france_2 {
  background-image: url(../images/tour-france/france-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.france_3 {
  background-image: url(../images/tour-france/france-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.egypt-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-06.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.egypt_1 {
  background-image: url(../images/tour-egypt/egypt-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.egypt_2 {
  background-image: url(../images/tour-egypt/egypt-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.egypt_3 {
  background-image: url(../images/tour-egypt/egypt-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.japan-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-07.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.japan_1 {
  background-image: url(../images/tour-japan/japan-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.japan_2 {
  background-image: url(../images/tour-japan/japan-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.japan_3 {
  background-image: url(../images/tour-japan/japan-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.canada-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-08.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.canada_1 {
  background-image: url(../images/tour-canada/canada-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.canada_2 {
  background-image: url(../images/tour-canada/canada-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.canada_3 {
  background-image: url(../images/tour-canada/canada-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.uae-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url(../images/tour-09.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.uae_1 {
  background-image: url(../images/tour-uae/uae-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.uae_2 {
  background-image: url(../images/tour-uae/uae-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.uae_3 {
  background-image: url(../images/tour-uae/uae-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
